<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
 
<table>
  <tr>
    <th>FirstName</th>
    <th>Age</th>
    <th>Email</th>
    <th>Address</th>
    <th>LastName</th>
    <th>phonenumber</th>
    <th>nationality</th>
    <th>occupation</th>
    <th>profile picture</th>
    <th>Date created</th>
    <th>dob</th>

  </tr>
  {% for Customer in customers %}
  <tr> 
    <td>{{Customer.first_name}}</td>
    <td>{{Customer.age}}</td>
    <td>{{Customer.email}}</td>
    <td>{{Customer.address}}</td>
    <td>{{Customer.last_name}}</td>
    <td>{{Customer.phonenumber}}</td>
    <td>{{Customer.nationality}}</td>
    <td>{{Customer.occupation}}</td>
    <td>{{Customer.date_created}}</td>
    <td>{{Customer.dob}}</td>
    <td><a href=" {% url 'customer_profile' id=Customer.id %}">view profile </a></td>
  </tr>
  {% endfor %}
</table> 

