<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(231, 218, 218);
      background-color: rgb(43, 221, 111);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <th>
    <th>Message</th>
    <th>Title</th>
    <th>Name</th>
    <th>Status</th>
    <th>Date Time</th>

{% for Notification in notifications%}
<tr>
    <th>{{Notification.message}}</th>
    <th>{{Notification.title}}</th>
    <th>{{Notification.status}}</th>
    <th>{{Notification.date_time}}</th>
    <th><a href=" {% url 'notifications_profile' id=Notification.id%}" >view profile </a></th>

</tr>
{% endfor %}
</table> 