<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: white;
      background-color: rgb(43, 221, 150);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
    </style>

<table>
    <th>
    <td>Amount</td>
    <td>Date Time</td>
    <td>Transaction</td>
    <td>Reciept Type</td>
    <td>File</td>


</th>
{% for Reciept in reciepts%}
<tr>
    <td>{{Reciept.amount}}</td>
    <td>{{Reciept.date_time}}</td>
    <td>{{Reciept.transaction}}</td>
    <td>{{Reciept.reciept_type}}</td>
    <td>{{Reciept.file}}</td>
    <td><a href="{%url 'receipt_profile'}" id=receipt.id%> view profile</a></td>

</tr>
{% endfor %}
</table> 