<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: white;
      background-color: rgb(43, 221, 150);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style><table>
    <th>
    <td>Description</td>
    <td>Date Time</td>
    <td>Source</td>
    <td>Value</td>
    <td>Amount</td>
    <td>Transaction ref</td>
    <td>Origin</td>
    <td>Bonus credit</td>
    <td>Destination</td>
    <td>Status</td>
    <td>dob</td>

</th>
{% for Transaction in transactions %}
<tr>
    <th>{{Transaction.description}}</th>
    <th>{{Transaction.date_time}}</th>
    <th>{{Transaction.source}}</th>
    <th>{{Transaction.origin}}</th>
    <th>{{Transaction.destination}}</th>
    <th>{{Transaction.transaction_ref}}</th>
    <th>{{Transaction.bonus_credit}}</th>
    <th>{{Transaction.value}}</th>
    <th>{{Transaction.amount}}</th>
    <th>{{Transaction.status}}</th>
    <th><a href="{%url 'transaction_profile'}" id=transaction.id%> view profile</a></td>

</tr>
{% endfor %}
</table> 