<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: white;
      background-color: rgb(43, 221, 150);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <tr>
    <th>Currency</th>
    <th>Balance</th>
    <th>Customer</th>
    <th>Pin</th>
    <th>Amount</th>

</tr>
{% for Wallet in wallets%}
<tr>
    <td>{{Wallet.currency}}</td>
    <td>{{Wallet.balance}}</td>
    <td>{{Wallet.customer}}</td>
    <td>{{Wallet.pin}}</td>
    <td>{{Wallet.amount}}</td>
   <td><a href="{%url 'wallet_profile'}" id=wallet.id%> view profile</a></td>

</tr>
{% endfor %}
</table> 